[Unit]
Description=Site Sentinel Box Reader - Ingress2
Requires=network.target

[Service]
SyslogIdentifier=reader_ingress2
Type=forking
User=ubuntu
PIDFile=/home/ubuntu/site-sentinel-box-usb-multi-readers/pids/reader_egress.pid
WorkingDirectory=/home/ubuntu/site-sentinel-box-usb-multi-readers
ExecStart=/bin/ruby /home/ubuntu/site-sentinel-box-usb-multi-readers/reader_egress_control.rb start
ExecReload=/bin/ruby /home/ubuntu/site-sentinel-box-usb-multi-readers/reader_egress_control.rb restart
ExecStop=/bin/ruby /home/ubuntu/site-sentinel-box-usb-multi-readers/reader_egress_control.rb stop
Restart=always

[Install]
WantedBy=multi-user.target
